<!doctype html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  <meta name='description' content='Website'>
  <meta name='author' content='Angelita Santos'>
  <meta name='keyWords' content='website'>
  <meta name='robots' content='index, follow'>
  <meta name='classification' content='site, website'>

  <title>Home - Controle de Processos</title>

  <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
  <script src='../../static/painel/cdn/jquery-3.7.0.js'></script>
  <link rel='stylesheet' href='../../static/home/css/global.css'>
  <link rel='stylesheet' href='../../static/home/css/style.css'>
  <link rel='stylesheet' href='../../static/home/css/cards.css'>
  <link rel='stylesheet' href='../../static/home/css/responsive.css'>

  <link rel='stylesheet' href='../../static/painel/cdn/bootstrap-icons.css'>
  <link rel='stylesheet' href='../../static/painel/bootstrap/css/bootstrap.css'>
  <link rel='stylesheet' href='../../static/painel/bootstrap/css/bootstrap-grid.css'>
  <link rel='stylesheet' href='../../static/painel/bootstrap/css/bootstrap-reboot.css'>
</head>

<body>

  <main>

    <header id='nav-navbar'>
      <script type='text/javascript' src='../../static/painel/js/load.js'></script>
    </header>

    <div class='mb-5'>...</div>

    <h1 class='mt-5'>Controle de Processos</h1>

    <section class='flex-container'>

      <div class='flex-item card-panel green card-comex' onclick='accessPainelComex()'>
        <h2>Comex</h2>
        <p>Pleno Comex</p>
        <img class='image' src='../../static/img/logo-pleno.png' alt=''>
      </div>

      <div class='flex-item card-panel blue card-comex' onclick='accessPainelServicos()'>
        <h2>Serviços</h2>
        <p>Pleno Serviços</p>
        <img class='image' src='../../static/img/logo-pleno.png' alt='' />
      </div>

      <div class='flex-item card-panel red card-comex' onclick='accessPainelLean()'>
        <h2>Lean</h2>
        <p>Lean Logística</p>
        <img class='image' src='../../static/img/logo-pleno.png' alt='' />
      </div>

    </section>

  </main>

  <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
  <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
  <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js'></script>
  <script src='../../static/painel/js/firebase-init.js'></script>
  <script src='../../static/painel/js/auth-guard.js'></script>

  <script src='../../static/painel/cdn/jquery-3.7.0.js'></script>
  <script src='../../static/painel/js/global/loading.js'></script>
  <script src='../../static/painel/js/home.js'></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'
    integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
    crossorigin='anonymous'></script>
  <script type='text/javascript' src='../../static/painel/bootstrap/js/bootstrap.js'></script>
  <script type='text/javascript' src='../../static/painel/bootstrap/js/bootstrap.bundle.js'></script>

</body>

</html>