<section id='breadcrumb'>

    <nav id='breadcrumb-cadastros' aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='../../templates/read/list-comex.html'>Comex</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-servicos.html'>Serviços</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-lean.html'>Lean</a></li>
        </ol>
    </nav>

    <nav id='breadcrumb-registros' aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='../../templates/read/list-comex.html'>Comex</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-servicos.html'>Serviços</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-lean.html'>Lean</a></li>
        </ol>
    </nav>

</section>

<script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
<script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
<script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js'></script>
<script src='../../static/painel/js/firebase-init.js'></script>
<script src='../../static/painel/js/auth-guard.js'></script>