.row {
    flex-wrap: wrap;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    background-color: var(--cinzaGainsboro);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
   
.card p {
    color: white;
    font-size: 16px;
}
   
.image {
    float: right;
    max-width: 48px;
    max-height: 48px;
}

.blue {
    border-left: 3px solid var(--color-blue);
}
   
.green {
    border-left: 3px solid var(--color-green);
}
   
.red {
    border-left: 3px solid var(--color-red);
}


