button {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

button[disabled] {
    opacity: 0.5;
}

button.fab {
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 5px 5px 5px gray;
}

button.fab.fixed {
    position: fixed;
}

button.fab.bottom {
    bottom: 32px;
}

button.fab.right {
    right: 32px;
}

button.danger {
    width: auto;
    float: right;
    display: none;
}

ol li:hover button.danger {
    display: block;
}

.form-button {
    margin-top: 20px;
}

.clear {
    background: transparent;
    border: none;
}

.solid {
    background: white;
    border: none;
}

.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.outline.danger {
    color: red;
    border-color: red;
}

.error {
    display: none;
    background: red;
    color: white;
    padding: 3px 0;
    margin: 0px 5px 2px 5px;
    text-align: center;
    border-radius: 5px;
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.loading label {
    font-size: 24px;
}
