@media (min-width: 1200px) {
    .footer-home {
        position: fixed;
        width: 100vw;
        bottom: 0;
    }
}

@media (max-width: 440px) {
    .form-transaction {
        width: 320px;
    }
}

@media (max-width: 410px) {
    form {
        width: 280px;
    }
}

@media (max-width: 360px) {
    .form-transaction {
        width: 280px;
        margin: 0;
        padding: 0;
    }

    fieldset section, .form-options {
        width: 260px;
        font-size: 0.8rem;
    }

    .form-transaction h2 {
        font-size: 1.25rem;
    }

    input,
    button,
    select, label, p {
        margin: 0px 1px 7px 1px;
    }
}
