<!doctype html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <meta name='description' content='Website'>
    <meta name='author' content='Angelita Santos'>
    <meta name='keyWords' content='website'>
    <meta name='robots' content='index, follow'>
    <meta name='classification' content='site, website'>

    <title>Registrar</title>

    <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
    <link rel='stylesheet' href='../../static/painel/css/reset.css'>
    <link rel='stylesheet' href='../../static/painel/css/global.css'>
    <link rel='stylesheet' href='../../static/painel/css/styles.css'>
    <link rel='stylesheet' href='../../static/painel/css/responsive.css'>
</head>

<body>

    <main class='main centralize'>

        <form action=''>

            <fieldset>

                <h1>Registrar</h1>

                <section>
                    <div>
                        <label>Email</label>
                        <input type='email' name='email' id='email' onchange='onChangeEmail()'>
                        <span class='error' id='email-required-error'>Email é obrigatório</span>
                        <span class='error' id='email-invalid-error'>Email é inválido</span>
                    </div>

                    <div>
                        <label>Senha</label>
                        <input type='password' name='password' id='password' onchange='onChangePassword()'>
                        <span class='error' id='password-required-error'>Senha é obrigatória</span>
                        <span class='error' id='password-min-length-error'>
                            Senha deve conter no mínimo 6 caracteres.</span>
                    </div>

                    <div>
                        <label>Confirmar senha</label>
                        <input type='password' name='confirm-password' id='confirmPassword'
                            onchange='onChangeConfirmPassword()'>
                        <span class='error' id='password-doesnot-match-error'>
                            Senha e Confirmar Senha devem ser iguais.</span>
                    </div>
                </section>

                <section class='form-button'>
                    <button type='button' class='solid' disabled='true' id='register-button'
                        onclick='register()'>Registrar</button>
                    <button type='button' class='outline' onclick='login()'>Painel</button>
                </section>

            </fieldset>
            
        </form>

    </main>

    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js'></script>
    <script src='../../static/painel/js/firebase-init.js'></script>
    <script src='../../static/painel/js/auth-guard.js'></script>
    
    <script src='../../static/painel/js/global/loading.js'></script>
    <script src='../../static/painel/js/global/messages.js'></script>
    <script src='../../static/painel/js/user/user-validations.js'></script>
    <script src='../../static/painel/js/user/user-register.js'></script>

</body>

</html>